.body {
    font-family: 'Lato', sans-serif;
    background-color: #e5e5f7;
    background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
}
.container {
    width: 90%;
    margin: 0 auto;
    border: 5px solid rgba(91, 24, 6, 0.603);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f76941;
    padding: 10px;
}
.logo img {
    height: 100px; /* Adjust the height as needed */
}
.nav-links {
    display: flex;
    gap: 10px;
}
.nav-links a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
}
.search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}
.search-bar input {
    padding: 5px;
}
.main-content {
    display: flex;
}
.categories-panel {
    width: 200px;
    background-color: #f8f8f8;
    border-right: 1px solid #ddd;
}
.categories-panel ul {
    list-style-type: circle;
    list-style-position: inside;
    padding: 0;
    top: 0%;
}
.categories-panel li {
    margin: 10px 0;
    padding: 10px;
    border-left: 3px solid transparent;
    line-height: 1.0;
    background: #EAEFF3;

}
.categories-banner {
    padding: 15px;
    background-color: #2B2D42;
    color: white;
    text-align: center;
    margin: 0;

}
.categories-panel a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.categories-panel a:hover {
    color: #007bff;
}
.listing-content {
    flex-grow: 1;
}
.banner {
    background-color: #F54514;
    text-align: center;
    margin: 0;
    padding: 15px;
    color: white;
}
.section {
    margin: 20px 0;
}
.specs table {
    width: 100%;
    border-collapse: collapse;
}
.specs th, .specs td {
    color: #596773;
    text-align: left;
    background: #F3F7FA;
    font-family:'Lato', sans-serif;
    border-bottom: 3px solid #FFF;
    padding: 5px 8px;
}
.specs th {
    font-weight: 500;
    width: 25%;
    background: #EAEFF3;
    border-right: 3px solid #FFF;
}
.footer {
    background-color: #f76941;
    color: white;
    text-align: center;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-li {
    display:flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}
.footer-li li {
    padding: 20px;
    list-style-position: inside;
}
